@charset "UTF-8";
	section#corpo-principal{ width: 50%; height: 50%px; float: left; display: block; }
	section#corpo-lateral{ width: 50%; height: 50%; float: right; display: block; }

	/*************************************************************v/
	/*********************************	Imagem com Legenda		***/	
	/**************************************************************/
	figure.foto-legenda { border: 2px solid ; box-shadow: 1px 1px 4px black; position: relative; }
	figure.foto-legenda img { width: 100%; height: 100%; }
	figure.foto-legenda figcaption {	
		opacity: 0;
		position: absolute; 
		top: 0px; 
		background-color: rgba(0,0,0,.4); 
		color: white; 
		width: 100%;
		height: 100%; 
		padding: 10px;
		box-sizing: border-box;
		transition: opacity 1s;
		text-align: center;
		font-family: Arial Rounded MT Bold, sans-serif;
	}
	
	figure.foto-legenda:hover figcaption { opacity: 1; }
	
	/*************************************************************v/
	/*********************************		Cabeçalho			***/	
	/**************************************************************/
	header#cabecalho {
		border-bottom: 2px #575d66 solid;
		background-color: #dddddd;
		margin-bottom: 0px;
		margin-top: -10px;
		margin-left: -10px;
		margin-right: -10px;
	}
	header#cabecalho h1{
		font-family: Arial Rounded MT Bold, sans-serif;
		font-size: 42pt;
		color: #f2f3f4;
		text-shadow: 3px 3px 10px rgba(0,0,0,.6);
		text-align: left;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 100px;
	}	
	header#cabecalho h2{
		font-family: Arial Rounded MT , sans-serif;
		font-size: 23pt;
		color: #646566;
		text-align: left;
		padding: 0px;
		margin-top: 0px;
		margin-left: 100px;
	}	 
	header#cabecalho h3{
		font-family: Arial Rounded MT Bold, sans-serif;
		font-size: 8pt;
		margin-top: 0px;
		margin-left: 100px;
	}	 
	/**************************************************************/
	/***************************************	 menu			***/
	/**************************************************************/
	nav#menu{ display: block;}
	nav#menu ul {
		position: absolute;			/***	posição absoluta no site	***/
		top: -20px;
		right: 0px;
		list-style: none;			/***	não aparece o marcador		***/	
		text-transform: uppercase;	/***	letra maiúscula				***/	
	
	}
	nav#menu ul ul{ display: none;}	/***	não aparece o sub-menu		***/
	nav#menu li {
		display: inline-block;		/***	disposição em linha			***/
		background-color: #dddddd;
		padding: 10px;
		margin: 2px;
		transition: background-color 1s;
	}
	nav#menu li:hover {	background-color: #606060; }
	nav#menu h1{ font-family: Arial Rounded MT Bold, sans-serif; display: none; /*** não aparece o h1 ***/ }
 	nav#menu h2{ font-family: Arial Rounded MT Bold, sans-serif;	}
	nav#menu h1{ font-family: Arial Rounded MT Bold, sans-serif;	}
	