@charset "UTF-8";
/************************************************************************************************		Estilo Fotos	***/

ul#album-de-fotos a{ text-align: center; }
ul#album-de-fotos {
	width: 1000px;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	list-style: none;	
}
ul#album-de-fotos li {
	float: left;
	width: 310px; 
	height: 310px;
	margin: 5px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);		
}
ul#album-de-fotos li span {
	opacity: 0;	
	font-size: 24px;
	line-height: 50px;	
	padding: 5px;
	padding-left: 10px;
}
ul#album-de-fotos li:hover span { opacity: 1; }

ul#album-de-fotos li#foto-001 { 
	background-image: url("../imagens/Mostruário/Anjo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 200px; 200px;
}
ul#album-de-fotos li#foto-002 { 
	background-image: url("../imagens/Mostruário/Bêbado.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}

ul#album-de-fotos li#foto-003 {
	background-image: url("../imagens/Mostruário/Canoeiro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-004 { background-image: url("../imagens/Mostruário/Cavaleiro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-005 { background-image: url("../imagens/Mostruário/Égua Deitada.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-006 { background-image: url("../imagens/Mostruário/Enxadristas.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-007 { background-image: url("../imagens/Mostruário/Gárgula.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 250px; 250px;
}
ul#album-de-fotos li#foto-008 { background-image: url("../imagens/Mostruário/Maestro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-009 { background-image: url("../imagens/Mostruário/Mulher Varrendo.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 250px; 250px;
}
ul#album-de-fotos li#foto-010 { background-image: url("../imagens/Mostruário/Pandeirista.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-011 { background-image: url("../imagens/Mostruário/Pé.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 400px; 400px;	
}
ul#album-de-fotos li#foto-012 { background-image: url("../imagens/Mostruário/Mulher Deitada.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 350px; 350px;
}
ul#album-de-fotos li#foto-013 { background-image: url("../imagens/Mostruário/Potro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-014 { background-image: url("../imagens/Mostruário/São Francisco.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 250px; 250px;
}
ul#album-de-fotos li#foto-015 { background-image: url("../imagens/Mostruário/Servente.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 400px; 400px;
}
ul#album-de-fotos li#foto-016 { background-image: url("../imagens/Mostruário/Peladeiro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-017 { background-image: url("../imagens/Mostruário/Violeiro.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 250px; 250px;
}
ul#album-de-fotos li#foto-018 { background-image: url("../imagens/foto perfil 03.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;	
}
ul#album-de-fotos li#foto-019 { background-image: url("../imagens/Agrosserra.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 300px; 300px;
}
ul#album-de-fotos li#foto-020 { background-image: url("../imagens/Tijolinho.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 350px; 350px;	
}
ul#album-de-fotos li#foto-021 { background-image: url("../imagens/Bebedouro de Passarinho.jpg"); 
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	background-size: 350px; 350px;
}
