@charset "UTF-8";
/******  Código de Cores no Google ************************ 
https://html-color-codes.info/Codigos-de-Cores-HTML/ ******/


	header#cabecalho {
		opacity: .8;
		font-family: Arial Rounded MT Bold;
		border-bottom: 4px #2E2E2E solid; line-height: 180px; 
		background-color: #BDBDBD;
		margin-bottom: 0px; margin-top: -10px; margin-left: -10px; margin-right: -10px; 
		height: 110px;
		padding-bottom: 20px; 
	}
	
	/*********************************************************************************				
	Utilizando fontes púbçicas do site do Google = "www.google.com/fonts" 
	utilizando a fonte "Finger Paint" no <h1> do cabeçalho " Humberto Escultor "
	font-family: 'Open Sans', sans-serif;
	font-family: 'Finger Paint', cursive;
	*** fonte anterior ***************************************************************
	font-family: Arial Rounded MT Bold, sans-serif; font-size: 56pt; *****************
	*********************************************************************************/	
	
	header#cabecalho h1{
		text-align: left; text-shadow: 6px 6px 10px rgba(0,0,0,.6);
		margin-bottom: 0px; margin-top: 0px; margin-left: 20px;
		font-size: 56pt; color: #F2F2F2;		 
		font-family: 'Finger Paint', cursive; 
	}
	
	header#cabecalho h2{ 
		font-size: 23pt; color: #646566; text-align: left;
		padding: 0px; margin-top: 0px; margin-left: 100px; 
	}	 
		header#cabecalho h3{ 
		font-size: 8pt; margin-top: 0px; margin-left: 100px; 
	}	 

	section#corpo-principal{ 
		width: 60%; height: 100%; float: left; display: block; 
		margin-left: -10px; margin-right: -19px; border-right: 2px black solid; 
		background-color: #dddddd; padding: 0px; margin-top: -10px; 
	}

	section#corpo-principal h1 { font-family: Times New Roman, sans-serif; font-size: 42pt; text-align: center; }
	section#corpo-principal h2 { font-family: Times New Roman, sans-serif; font-size: 36pt; text-align: center; }
	section#corpo-principal a { font-family: Times New Roman, sans-serif; font-size: 20pt; text-align: center; }
	section#corpo-principal p { font-family: Times New Roman, sans-serif; font-size: 20pt; 
		text-align: justify; text-indent: 50px; }	
	section#corpo-principal img { padding: 0px; }
	section#corpo-principal img#imagem-tabela { width: 95%;}
	section#corpo-principal img#imagem-tabela:hover { transform: scale(1.2); transition-duration: .8s; }
	section#corpo-principal img#foto-princioal { margin-left: 10px; margin-right: 10px; width: 50%; height: 50%	}
	section#corpo-principal img#foto-princioal:hover {transform: scale(1.2); transition-duration: .8s; opacity: .8; }
 
	section#corpo-principal iframe#iframeAnexo { width: 330px; height: 380px; margin: auto; }
	
	section#corpo-principal img#foto-iframe { width: 40%; height: 40%; }
	section#corpo-principal img#foto-iframe:hover { /*** transform: scale(1.2); transition-duration: .8s; ***/ 	}
	section#corpo-principal ul li { text-align: center; }
	section#corpo-principal ul li:hover { text-align: center; transform: scale(1.4); transition-duration: .8s; }
/************************************************************************************		Corpo Lateral		***/
	section#corpo-lateral { 
	padding: 2px; margin-right: -10px; margin-left: -15px; 
	width: 41%; height: 100%; float: right; display: block; 
	font-family: Times New Roman; font-size:22px; 
	background-color: #dddddd; }
	section#corpo-lateral h1 { font-size: 28px; text-align: center; padding-right: 40px; }
	section#corpo-lateral p { font-size: 20px; text-align: justify; padding-right: 40px; text-indent: 30px; }
	section#corpo-lateral img { width: 95%; }
	section#corpo-lateral img:hover { transform: scale(1.2); transition-duration: .8s; opacity: .8;	}


/******************************************************************************************/
/*******************************************************		Imagem com legenda		***/
/******************************************************************************************/
	figure.foto-legenda { position: relative; }
	figure.foto-legenda img { width: 100%; height: 100%; }	
	figure.foto-legenda:hover figcaption { opacity: 1; }
	figure.foto-legenda figcaption { opacity: 0; position: absolute; top: 0px; 
		background-color: rgba(0,0,0,.2); color: white; width: 102%; height: 100%; 
		padding: 0px; box-sizing: border-box; transition: opacity 1s;
		text-align: center; font-family: Times New Roman; }	

/****************************************************************************************
figure.foto-legenda img#foto-principal { width: 98%; height: 98%; margin: 2px; }
**********************************************************			 menu			***/